body{
    margin: 0;
    padding: 0;

}
section{
    margin: 0 auto;
}
img{
    max-width: 100%;
}
header{
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 40px;
}
.head-part{
    width: 960px;
}
.our-works-part{
    width: 960px;
    padding: 25px 0;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
.logo{
    margin: 0;
    padding: 52px 0 0;
}
.logo img{
    width: 20%;
}
.header-content{
    text-align: center;
    padding: 50px 0;
}
.header-content h1{
    font-size: 40px;
    margin: 10px;
    color: white;
}
.things{
    color: #ff6e00 ;
}
.header-content p {
    padding: 0 0 38px;
    color: white;
}
.header-content a{
    text-align: center;
    text-decoration: none;
    background: #f17300;
    padding: 15px 84px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 4px solid #b05705;
}
.header-content a:hover{
    color: #f17300;
    background: white;
}
.our-works{
}
.works{
    color: #ff6e00;
}
.say{
    color: white;
}
.works-content{
    text-align: center;
}
.works-content h1{
    font-size: 30px;
    margin: 0;
    /*! padding: ; */
}
.works-content p{
    max-width: 500px;
    margin: 0 auto;
}
.picture-box{
    padding: 30px 0;
    overflow: hidden;
}


.picture{
    float: left;
    width: 310px;
    margin: 5px;
}
.picture img{}
.picture a img:hover{border-bottom:3px solid #f17300}
.show{
}

.team-picture{
    padding: 50px 0;
}
.photo{
   
    float: left;
    width: 230px;
    margin: 5px;
    text-align: center;
}
.photo:hover .member{
    opacity:1;
}

.member{
	
	margin: 0;
background: #f17300;
margin-bottom: -5px;
padding: 5px;
color: #fff;
opacity:0
}


.form{
    text-align: center;
    margin-top: 30px;
}
input{
    width: 300px;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
}
textarea{
    width: 650px;
    overflow: hidden;
    margin: 0 120px;
	border-radius:5px;
}

.submit{
    
    padding: 10px 70px;
    margin-top: 20px;
    border-radius: 5px;
    background: #F17300;
    border: none;
    border-bottom: 3px solid #ba5d08;
    color: #fff;
    text-transform: uppercase;
        font-size:20px;
}

footer{
    background: #333;
    color: #fff;
}

.rrr{background: #D2D2D2;}
.footer-top{background: #D2D2D2;}
